@font-face {
    font-family: 'Gputeks-Bold';
    src: url('/css/Gputeks-Bold.ttf');
    src: url('/css/Gputeks-Regular.ttf');
}
body{
    margin: 0;
    background-image: url("http://image.noelshack.com/fichiers/2019/02/5/1547212860-wall-2933017-1920.jpg")
}
/*Section index*/
.carousel-inner{
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
}

/*Section about US*/
h1{
    text-align: center;
}

.container_about{
    display: flex;
    justify-content: center;

}
.about h3{
    text-align: center;
}
.about img{
    padding: 5%;
    margin-left: 17%;
}
.about p{
    text-align: justify;
    padding: 9%;
  
}
.about p{
    background-image: url(http://image.noelshack.com/fichiers/2019/02/5/1547217690-speech-bubble-145978-640.png);
}
/*footer*/
footer{
    background-color: dimgray;
    width: 100%;
    height: 50%;
}
footer div{
    text-align: center;
    padding-top: 0%;
    margin-left: 4%;
}
.social_icons {

    display: flex;
    justify-content: center;
    padding-top: 0%;

}
.social_icons  li{
    list-style: none;
    margin: 0 40px;

}
.social_icons  li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;

}
.social_icons  li a{
    position: relative;
    display: block;
    width: 40px;
    height: 80px;
    background-color: #ada8a8;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.social_icons  li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social_icons  li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover .fa{
    color: #fff;
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover:nth-child(1) a{
    background: #dd4b39;
}

.social_icons  li:hover:nth-child(1) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(1) a:after{
    background: #e83322;
}
.social_icons  li:hover:nth-child(2) a{
    background: #dd4b39;
}
.social_icons  li:hover:nth-child(2) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(2) a:after{
    background: #e83322;
}

.social_icons  li:hover:nth-child(3) a{
    background: #dd4b39;
}

.social_icons  li:hover:nth-child(3) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(3) a:after{
    background: #e83322;
}
/*End of section about US*/
/*contact*/
.card-deck{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.card-img-top{
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}
.card-title{
    margin-left: 40%;
    margin-top: 10%;
}
.card-text{
    margin-left: 40%;
    margin-top: 10%;
}
.email{
    margin-left: 25%;
    margin-top: 10%;
}

