@font-face {
    font-family: Gputeks-Regular;
    src: url('../police/Gputeks-Regular.ttf');
    src: url('../police/Gputeks-Bold.ttf');
}

body{
    font-family: Gputeks-Regular;
    margin: 0;
    background-image: url("../image/background.jpg");
}
nav{
    border: 5px #b8ada6 ridge;
}
/* test nav bar a {
    text-shadow: 5px 5px 5px #b8ada6;
    padding-left: 5%;
}
fin test */
/*Section index*/
.carousel-inner{
    width: 50%;
    height: 0%;
    margin-left: 25%;
    margin-top: 1%;
}

/*bobine*/
.slider {
    position: relative;
    margin-top: 1%;
    width: 100%;
    top: calc(50% - 97.25px);
    overflow: hidden;
  }
  .slider .slider-row {
    width: 2956px;
    height: 194.5px;
    background-image: url(../image/bobine.png);
    background-size: 2956px 194.5px;
    -webkit-animation: slide 50s linear infinite;
            animation: slide 50s linear infinite;
  }
  
  @-webkit-keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -2956px;
    }
  }
  
  @keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -2956px;
    }
  }
  

/*Section about US*/
.about{
    background-image: url(../image/bubble.png);
    background-repeat: no-repeat;
    margin-top: 8%;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px #b8ada6;
}

.container_about{
    display: flex;
    justify-content: center;

}
.about h3{
    text-align: center;
    margin-top: -5%;
}
.about img{
    padding: 0%;
    margin-left: 17%;
}
.about p{
    text-align: justify;
    padding-left: 11%;
    padding-right: 13%;
    padding-bottom: 15%;
  
}

/*contact*/
.card {
    background-color:#b1b1b1
}
.card-deck{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.card-img-top{
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}
.card-title{
    margin-left: 40%;
    margin-top: 10%;
}
.card-text{
    margin-left: 40%;
    margin-top: 10%;
}
.email{
    margin-left: 25%;
    margin-top: 10%;
    
}

.envoye {
    text-align: center;
    margin-top: 20%;
}

   form {
    background-color:white;
    padding:10px;
    width:280px;
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #b1b1b1;
    }
   legend {
    color:#b1b1b1;
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#b1b1b1;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #b1b1b1;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px black;
    cursor:pointer;
    }

    /*footer*/

footer div{
    text-align: center;
    padding-top: 0%;
    margin-left: 4%;
}
.social_icons {

    display: flex;
    justify-content: center;
    padding-bottom: 1%;

}
.social_icons  li{
    list-style: none;
    margin: 0 40px;

}
.social_icons  li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;

}
.social_icons  li a{
    position: relative;
    display: block;
    width: 40px;
    height: 80px;
    background-color: #ada8a8;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.social_icons  li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social_icons  li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover .fa{
    color: #fff;
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover:nth-child(1) a{
    background: #dd4b39;
}

.social_icons  li:hover:nth-child(1) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(1) a:after{
    background: #e83322;
}
.social_icons  li:hover:nth-child(2) a{
    background: #dd4b39;
}
.social_icons  li:hover:nth-child(2) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(2) a:after{
    background: #e83322;
}

.social_icons  li:hover:nth-child(3) a{
    background: #dd4b39;
}

.social_icons  li:hover:nth-child(3) a:before{
    background: #c13929;
}
.social_icons  li:hover:nth-child(3) a:after{
    background: #e83322;
}