@font-face {
    font-family: Gputeks-Regular;
    src: url('../police/Gputeks-Regular.ttf');
    src: url('../police/Gputeks-Bold.ttf');
}

body{
    font-family: Gputeks-Regular;
    background-image: url("../image/background.jpg");
}
/*navbar*/
.title-site h1{
   opacity: 0;
}

.left{
    display: none;
}


a.navbar-brand {
    float: left;
    height: 50px;
    margin-top: 0.5%;
    margin-left: 0.4%;
    font-size: 2em;
    line-height: 20px;
    text-shadow: 3px 3px 3px black;
    color: #78665d;

}


nav.main-navigation {
    position: relative;
    background-color: #b8ada6;
    border: 3px #78665d ridge;
    text-shadow: 3px 3px 3px #78665d ridge;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: center;
    font-size: 1.5em;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 20px;
    margin-top: 0px;
    padding-left: 5%;
}

a.nav-link {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: black;
    text-align: center;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
/*Section index*/
.carousel-inner{
    width: 50%;
    height: 0%;
    margin-left: 25%;
    margin-top: 1%;
}
.carousel-caption {
        bottom: 5rem;
    }
.carousel-caption h5 {
     color: black;
    
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 4px solid #78665d;
  background-image: none;
  background-color: #b8ada6;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 60px;
  color:black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 60px;
  color: black;
}


/*bobine*/
.slider {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    top: calc(50% - 97.25px);
    overflow: hidden;
  }
  .slider .slider-row {
    width: 2956px;
    height: 194.5px;
    background-image: url(../image/bobine.png);
    background-size: 2956px 194.5px;
    -webkit-animation: slide 50s linear infinite;
            animation: slide 50s linear infinite;
  }
  
  @-webkit-keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -2956px;
    }
  }
  
  @keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -2956px;
    }
  }
  

/*Section about US*/
.about{
    border: 5px groove #78665d;
    border-radius: 100%;
    background-color: #b8ada6;
    margin: 2%;

}
h1{
    margin-left: 45%;
    text-shadow: 5px 5px 5px #b8ada6;
}


.container_about{
    display: flex;
    justify-content: center;
    margin-top: 5%;

}
.about h3{
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-shadow: 5px 5px 5px #78665d;
}
.about p{
    font-size: 1em;
    text-align: justify;
    padding-left: 11%;
    padding-right: 13%;
    padding-bottom: 15%;
  
}

/*contact*/
.card {
    background-color: #b8ada6;

}
.card-deck{
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
padding-bottom: 5%;


}
.card-img-top{
    
height: 20%;
width: 20%;
margin-left: 40%;
margin-top: 10%;
}
.card-title{
margin-left: 40%;
margin-top: 10%;
}
.card-text{
margin-left: 40%;
margin-top: 10%;
}
.email{
margin-left: 25%;
margin-top: 10%;

}

.envoye {
text-align: center;
margin-top: 20%;
}

.cadre {
min-height: 10em;
display: table-cell;
vertical-align: middle;
}

form {
background-color:#b8ada6;
padding:10px;


}
fieldset {
padding:0 20px 20px 20px;
margin-bottom:10px;
border:1px solid #78665d;
}
legend {
color:black;
font-weight:bold
}
label {
margin-top:10px;
display:block;
}
label.inline {
display:inline;
margin-right:50px;
}
input, textarea, select, option {
background-color:#78665d;
}
input, textarea, select {
padding:3px;
border:1px solid #78665d;
border-radius:5px;
width:200px;
box-shadow:1px 1px 2px #C0C0C0 inset;
}
select {
margin-top:10px;
}
input[type=radio] {
background-color:transparent;
border:none;
width:10px;
}
input[type=submit], input[type=reset] {
width:100px;
margin-left:5px;
box-shadow:1px 1px 1px black;
cursor:pointer;
}
    /*footer*/

footer div{
    text-align: center;
    padding-top: 0%;
    margin-left: 4%;
}
.social_icons {

    display: flex;
    justify-content: center;
    padding-bottom: 0%;
    

}
.social_icons  li{
    list-style: none;
    margin: 0 40px;

}
.social_icons  li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;

}
.social_icons  li a{
    position: relative;
    display: block;
    width: 40px;
    height: 80px;
    background-color: #b8ada6;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.social_icons  li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #78665d;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social_icons  li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #78665d;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover .fa{
    color: #fff;
}
.social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social_icons  li:hover:nth-child(1) a{
    background: black;
}

.social_icons  li:hover:nth-child(1) a:before{
    background: black;
}
.social_icons  li:hover:nth-child(1) a:after{
    background: black;
}
.social_icons  li:hover:nth-child(2) a{
    background: black;
}
.social_icons  li:hover:nth-child(2) a:before{
    background: black;
}
.social_icons  li:hover:nth-child(2) a:after{
    background: black;
}

.social_icons  li:hover:nth-child(3) a{
    background: black;
}

.social_icons  li:hover:nth-child(3) a:before{
    background: black;
}
.social_icons  li:hover:nth-child(3) a:after{
    background: black;
}



/*responsive*/
@media all and (max-device-width: 480px)
{
    h1{
        text-align: center;
        text-shadow: 5px 5px 5px #b8ada6;
        margin-left: 0%;
        margin-top: 10%;
    }

    /*navbar*/
.main-navigation{
    display:none
}
.item a{
    color: white;
}

    .left,
    .right {
        top: 50%;
        float: left;
        transform: translateY(125%);
    }

    .left {
        position: absolute;
        top: -45%; left: 0%;
        vertical-align: top;
        background: #78665d ;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 100%;
    }

    .item:hover {
        background-color: #b8ada6;
    }

    .left .fas {
        margin: 15px;
        width: 20px;
        color: #fff;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #fff;
    }
 /*Section index responsive*/
 .title-site h1{
    opacity: 1;
 }

.carousel-inner{
    width: 100%;
    height: 0%;
    margin-left: 0%;
    margin-top: 45%;
    margin-bottom: 5%;
}
.carousel-caption {
        bottom: 5rem;
    }
.carousel-caption h5 {
     color: black;
    
} 

/*bobine*/
.slider {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    top: calc(50% - 97.25px);
    overflow: hidden;
  }
  .slider .slider-row {
    width: 100%;
    height: 10%;
    background-image: url(../image/bobine.png);
    background-size: 100% 10%;
    -webkit-animation: slide 50s linear infinite;
            animation: slide 50s linear infinite;
  }
  
  @-webkit-keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -1080px;
    }
  }
  
  @keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -1080px;
    }
  }
  

/*about us*/
.about{

    margin-left: 0%;
    border: 5px groove #78665d;
    border-radius: 100%;
    background-color: #b8ada6;
    margin-bottom: 20%;
}
.about:nth-child(1){
    margin-top: 35%;
}

.container_about{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 5%;

}
.about h3{
    text-align: center;
    color: black;
    text-shadow: 5px 5px 5px #78665d;
}
.about img{
    margin-left: 19%;
    margin-bottom: 10%;
    border: 5px black ridge;
    border-radius: 100%;
}
.about p{
    text-align: center;
 
  
}
/*contact*/
.card-deck{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35%;
    padding-bottom: 5%;
    
}
 /*footer*/

 footer div{
    text-align: center;
    padding-top: 0%;
}
.social_icons {

    display: flex;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: -10%;

}

}
