body{
    margin: 0;
}
/*Section about US*/
.social_icons {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
    }
    .social_icons  li{
    list-style: none;
    margin: 0 40px;
    
    }
    .social_icons  li .fa{
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    
    }
    .social_icons  li a{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #ada8a8;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
    }
    .social_icons  li a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
    }
    .social_icons  li a::after{
    content: "";
    position: absolute;
    top: 80px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
    }
    .social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .social_icons  li:hover .fa{
    color: #fff;
    }
    .social_icons  li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
    }
    .social_icons  li:hover:nth-child(1) a{
    background: #dd4b39;
    }
    
    .social_icons  li:hover:nth-child(1) a:before{
    background: #c13929;
    }
    .social_icons  li:hover:nth-child(1) a:after{
    background: #e83322;
    }
    .social_icons  li:hover:nth-child(2) a{
    background: #dd4b39;
    }
    .social_icons  li:hover:nth-child(2) a:before{
    background: #c13929;
    }
    .social_icons  li:hover:nth-child(2) a:after{
    background: #e83322;
    }

    .social_icons  li:hover:nth-child(3) a{
    background: #dd4b39;
    }
    
    .social_icons  li:hover:nth-child(3) a:before{
    background: #c13929;
    }
    .social_icons  li:hover:nth-child(3) a:after{
    background: #e83322;
    }
    
    .social_icons  li:hover:nth-child(4) a{
    background: #0077B5;
    }
    
    .social_icons  li:hover:nth-child(4) a:before{
    background: #036aa0;
    }
    .social_icons  li:hover:nth-child(4) a:after{
    background: #0d82bf;
    }
    
    .social_icons  li:hover:nth-child(5) a{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    
    .social_icons  li:hover:nth-child(5) a:before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
    .social_icons  li:hover:nth-child(5) a:after{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    }
/*End of section about US*/